<%
  row_index = grid.height + grid.top_buffer - 1
%>

<table class='cs-fill'>

  <% grid.top_buffer.times do %>
    <tr class='cs-hidden' data-row='<%= row_index %>'>
      <%= render partial: 'player_box_grid_row', locals: { grid: grid } %>
    </tr>
    <% row_index -= 1 %>
  <% end %>

  <% grid.height.times do %>
    <tr data-row='<%= row_index %>'>
      <%= render partial: 'player_box_grid_row', locals: { grid: grid } %>
    </tr>
    <% row_index -= 1 %>
  <% end %>

  <% grid.bot_buffer.times do %>
    <tr class='cs-hidden' data-row='<%= row_index %>'>
      <%= render partial: 'player_box_grid_row', locals: { grid: grid } %>
    </tr>
    <% row_index -= 1 %>
  <% end %>

</table>
